{include file="public/__head" /}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="{:url('index/index/index')}">
        <i class="fa fa-home"></i>首页
    </a>
    <a class="breadcrumb-item" href="{:url('index/index/productList')}">
        产品列表
    </a>
</nav>
<div class="content" style="height: auto;margin-bottom: 10px;padding-bottom: 20px;">
    <div class="role_title">
        <div class="icon_role"></div>
        <div class="role_word">
            产品编辑
        </div>
    </div>
    <br/>
    <form id="editPro" class="addPro" style="margin-top: 5px;margin-left: 11px">
        <div class="row">
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td><label for="pro_no">产品编号:</label></td>
                        <td class="pl-10">
                            <div class="input-group-sm" style="float:left;">
                                <input hidden type="text" value="{$data.id}" id="id">
                                <input type="text" class="form-control" id="pro_no" name="" value="{$data.pro_no}" disabled
                                       style="width: 180px;" placeholder="编号">
                            </div>
                            <div style="float:left;margin-left: 2px;">
                                <button type="button" class="btn btn-sm btn-success" id="getNo" style="float:left;" disabled>获取
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td><label for="name">产品名称:</label></td>
                        <td class="pl-10">
                            <div class="input-group-sm">
                                <input type="text" class="form-control" id="name" name="" value="{$data.pro_name}" placeholder="名称">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td><label for="model">型号:</label></td>
                        <td class="pl-10">
                            <div class="input-group-sm">
                                <input type="text" class="form-control" id="model" name="" value="{$data.model}" placeholder="型号">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td style="padding-left: 16px;"><label for="supplier">供应商:</label></td>
                        <td class="pl-10">
                            <div class="input-group-sm">
                                <select class="form-control" id="supplier">
                                    <option>请选择</option>
                                    {volist name="supplier" id="vo"}
                                    <option value="{$vo.id}" {if $data.sup_id == $vo.id}selected{/if}>{$vo.sup_name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td style="padding-left: 16px;"><label for="costPrice">成本价:</label></td>
                        <td class="pl-10">
                            <div class="input-group-sm">
                                <input type="text" class="form-control" id="costPrice" name="" value="{$data.costprice}"
                                       placeholder="成本价">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td><label for="price">售价:</label></td>
                        <td class="pl-10">
                            <div class="input-group-sm">
                                <input type="text" class="form-control" id="price" name="" value="{$data.price}" placeholder="售价">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td><label for="number">产品类别:</label></td>
                        <td class="pl-10">
                            <div class="input-group-sm">
                                <input type="text" class="form-control" id="role" name="{$data.role_id}" value="{$data.Role.role_name}" placeholder="产品类别" disabled>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td><label for="number">进货数量:</label></td>
                        <td class="pl-10">
                            <div class="input-group-sm">
                                <input type="text" class="form-control" id="number" name="" value="{$data.quantity}" placeholder="进货数量">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
    <div class="role_title"></div>
    <div style="margin-top: 20px;">
        <button type="button" class="btn btn-sm btn-success" id="savePro">保存</button>
    </div>
</div>
<script>
    $(function () {
        $('#getNo').click(function (e) {
            e.preventDefault();
            var number1 = '';
            var number2 = '';
            var no = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
            for (var i = 0; i < 4; i++) {
                var index = Math.round(Math.random() * 9);
                number1 += no[index];
            }
            for (var i = 0; i < 4; i++) {
                var index = Math.round(Math.random() * 9);
                number2 += no[index];
            }
            var mangerNo = "EN" + number1 + number2;
            $('#pro_no').val(mangerNo);
        });
        $('#supplier').change(function (e) {
            e.preventDefault();
            var sup_id = {
                id : $('#supplier').val()
            };
            console.log(sup_id);
            var roleHtml = '';
            $.ajax({
                type: "post",
                url: "{:url('index/index/changeProRole')}",
                data: sup_id,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $('#role').val(data.role_name);
                }
            })
        });
        $('#savePro').click(function (e) {
            e.preventDefault();
            if ($('#costPrice').val() > $('#price').val()) {
                msg('错误','成本价大于售价，请重新填写！');
                return;
            }
            var data = {
                id: Number($('#id').val()),
                no: $('#pro_no').val(),
                name: $('#name').val(),
                model: $('#model').val(),
                supplier: $('#supplier').val(),
                costPrice: $('#costPrice').val(),
                price: $('#price').val(),
                role: $('#role').attr('name'),
                number: $('#number').val()
            };
            console.log(data);
            $.ajax({
                type: "post",
                url: "{:url('index/index/editProduct')}",
                data: data,
                dataType: "json",
                success: function (data) {
                    // console.log(data);
                    // return;
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 2000,
                        }, function () {
                            location.href = data.url;
                        });
                    } else {
                        layer.open({
                            title: '操作失败',
                            icon: 2,
                            content: data.msg,
                        });
                    }
                }
            });
        });
    })
</script>
{include file="public/__footer" /}