{include file="public/__head" /}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="{:url('index/index/index')}">
        <i class="fa fa-home"></i>首页
    </a>
</nav>
<div class="content" style="height: auto;margin-bottom: 10px;padding-bottom: 20px;">
    <div class="role_title">
        <div class="icon_role"></div>
        <div class="role_word">
            客户评价
        </div>
    </div>
    <!--<div style="margin-top: 5px;">-->
        <!--<button type="button" class="btn btn-sm btn-success"-->
                <!--style="margin-top: 5px;margin-left: 2px;margin-bottom: 5px;"-->
                <!--data-toggle="modal"-->
                <!--data-target="#addModal">添加-->
        <!--</button>-->
    <!--</div>-->
    <div style="width: 100%;height: auto; margin-top: 5px;">
        <table class="table table-bordered table-striped table-sm table-hover table-responsive-sm"
               style="text-align: center;">
            <thead>
            <tr>
                <th>序号</th>
                <th>维修编号</th>
                <th>客户名称</th>
                <th>维修原因</th>
                <th>评价描述</th>
                <th>评价等级</th>
                <th>创建时间</th>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {volist name="data" id="vo"}
            <tr>
                <td>{$i + ($pageinit-1)*2}</td>
                <td>{$vo.serve_e.ser_no}</td>
                <td>{$vo.client_e.client_name}</td>
                <td>{$vo.serve_e.ser_desc}</td>
                <td>{$vo.e_desc}</td>
                {if $vo.state == 1}
                <td class="bg-success">好</td>
                {elseif $vo.state == 2}
                <td class="bg-info">一般</td>
                {elseif $vo.state == 3}
                <td class="bg-danger">差</td>
                {/if}
                <td>{$vo.create_date}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm delManger" id="delManger" data-id="{$vo.id}">删除
                    </button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    <div class="page" style="margin-top: 10px;">{if $page}{$page}{else}&nbsp;{/if}</div>
</div>
<script>
    $(function () {
        $('.delManger').click(function (e) {
            e.preventDefault();
            var delId =  {
                id: $(this).attr('data-id')
            };
            $.ajax({
                type: "post",
                url: "{:url('index/index/deleteEvaluateInfo')}",
                data: delId,
                dataType: "json",
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 2000,
                        }, function () {
                            location.href = data.url;
                        });
                    } else {
                        layer.open({
                            title: '操作失败',
                            icon: 2,
                            content: data.msg,
                        });
                    }
                }
            })
        });
    })
</script>
{include file="public/__footer" /}