{include file="public/__head" /}
<div class="content2">
    <div class="row">
        <div class="col-sm-4">
            <div class="info">
                <div class="username">
                    <div class="name">
                        <span>{:session('manger_name')}</span>
                    </div>
                </div>
                <div class="name_info">
                    <span>登陆部门：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$result['department']['department_name']}</span> <br>
                    <span>登陆时间：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$loginTime}</span>
                </div>
            </div>
        </div>
        <!--左边事务-->
        <div class="col-sm-8">
            <div class="thing">
                <div class="view-title">
                    <div style="line-height: 30px; margin-left:5px;">
                        <i class="fa fa-certificate"></i>
                        业务详情
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="order_class all_border" style="padding-left: 10px;">
                            <div class="order_title">
                                订单数量
                            </div>
                            <div class="order_number order_red">
                                <div class="buss-icon">
                                    <i class="fa fa-bolt"></i>
                                    {$order}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="order_class all_border">
                            <div class="order_title">
                                客户注册人数
                            </div>
                            <div class="order_number order_orange">
                                <div class="buss-icon">
                                    <i class="fa fa-bolt"></i>
                                    {$client}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="order_class all_border" style="padding-right: 10px">
                            <div class="order_title">
                                在职员工数量
                            </div>
                            <div class="order_number order_blue">
                                <div class="buss-icon">
                                    <i class="fa fa-bolt"></i>
                                    {$manger}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="view1">
                <div class="view-title">
                    <div style="line-height: 30px; margin-left:5px;">
                        <i class="fa fa-wpexplorer"></i>
                        客户流量
                    </div>
                </div>
                <div id="sale" style="width:100%; height: 250px; margin-top: -15px;padding: 5px;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="left-table">
                <div class="view-title">
                    <div style="line-height: 30px; margin-left:5px;">
                        <i class="fa fa-bullseye"></i>
                        事务详情
                    </div>
                </div>
                <div class="agency table-responsive table-bordered table-sm">
                    <table class="table agency-table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>姓名</th>
                            <th>部门</th>
                            <th width="200px">事项</th>
                            <th>状态</th>
                            <th>日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        {if $data == null}
                        <tr>
                            <td colspan="6">暂无数据</td>
                        </tr>
                        {else}
                        {volist name="data" id="vo"}
                        <tr>
                            <td>{$i}</td>
                            <td>{$vo.manger_t.manger_name}</td>
                            <td>{$vo.department_t.department_name}</td>
                            <td>{$vo.th_name}</td>
                            <td>{$vo.state}</td>
                            <td>{$vo.create_date}</td>
                        </tr>
                        {/volist}
                        {/if}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="view1" style="height: 270px;">
                <div class="view-title">
                    <div style="line-height: 30px; margin-left:5px;">
                        <i class="fa fa-balance-scale"></i>
                        产品占比
                    </div>
                </div>
                <div id="proportion" style="width:100%; height: 250px;padding: 5px;"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="view1" style="height: 270px;">
                <div class="view-title">
                    <div style="line-height: 30px; margin-left:5px;">
                        <i class="fa fa-balance-scale"></i>
                        客户职业属性
                    </div>
                </div>
                <div id="clientProportion" style="width:100%; height: 250px;padding: 5px;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="view2">
                <div class="view-title">
                    <div style="line-height: 30px; margin-left:5px;">
                        <i class="fa fa-home"></i>
                        周销售额
                    </div>
                </div>
                <div id="sale_order" style="width:100%; height: 300px;padding: 5px;"></div>
            </div>
        </div>
    </div>
</div>
<script>
	// if (window.sessionStorage['Proportion'] == 1) {
	// } else {
	// 	window.sessionStorage['Proportion'] = 1;
	// 	clientInfo();
	// }
    clientInfo();
    product();
    clientNum();
    setInterval(function () {
        var myDate = new Date();
        var date = myDate.getDate();
        if(date == 1){
            clientInfo();   // 一个月更新一次
            product();
            clientNum();
            console.log('等于');
        } else {
            console.log('不等于');
        }
    },1000*60*60*24);
    // 客户流量
    function clientNum() {
        $.ajax({
            type: "post",
            url: "{:url('index/index/clientNum')}",
            data: '',
            dataType: "json",
            success: function (data) {
                console.log(data);
                var date = [];
                var num = [];
                for (var o = 0; o < data.length; o++) {
                    date.push(data[o].month + '月');
                    num.push(data[o].num);
                }
                var option = {
                    tooltip: {},
                    legend: {},
                    xAxis: {
                        name: '人数'
                    },
                    yAxis: {
                        name: '月份',
                        data: date
                    },
                    series: [{
                        // name: '销量',
                        type: 'bar',
                        data: num,
                        itemStyle: {
                            normal: {
                                color: function (params) {   // 根据in 和 out 判断显示颜色
                                    return '#005ab5'
                                }
                            }
                        }
                    }]
                };
                var myChart = echarts.init(document.getElementById('sale'));
                myChart.setOption(option);
            }
        });
    }
    // 占比
    function product()
    {
        var column = [];
        var dataList = [];
        $.ajax({
            type: "post",
            url: "{:url('index/index/productInfo')}",
            data: '',
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    column.push(data[i].role_name)
                }
                for (var j = 0; j < data.length; j++) {
                    dataList.push({
                        value: data[j].product.length,
                        name: data[j].role_name
                    })
                }
                option = {
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient : 'vertical',
                        x : 'left',
                        data:column
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {
                                show: true,
                                type: ['pie', 'funnel'],
                                option: {
                                    funnel: {
                                        x: '25%',
                                        width: '50%',
                                        funnelAlign: 'left',
                                        max: 1548
                                    }
                                }
                            },
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    series : [
                        {
                            name:'访问来源',
                            type:'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data: dataList
                        }
                    ]
                };
                var myChart = echarts.init(document.getElementById('proportion'));
                myChart.setOption(option);
            }
        })
    }
    // 客户职业
    function clientInfo() {
        $.ajax({
            type: "post",
            url: "{:url('index/index/clientInfo')}",
            data: '',
            dataType: "json",
            success: function (data) {
                option = {
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient : 'vertical',
                        x : 'left',
                        data:['学生','就业人士','待业人士','老年人','其他']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {
                                show: true,
                                type: ['pie', 'funnel'],
                                option: {
                                    funnel: {
                                        x: '25%',
                                        width: '50%',
                                        funnelAlign: 'left',
                                        max: 1548
                                    }
                                }
                            },
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    series : [
                        {
                            name:'访问来源',
                            type:'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data:[
                                {value:data.stu, name:'学生'},
                                {value:data.job, name:'就业人士'},
                                {value:data.noJob, name:'待业人士'},
                                {value:data.old, name:'老年人'},
                                {value:data.other, name:'其他'}
                            ]
                        }
                    ]
                };
                var myChart = echarts.init(document.getElementById('clientProportion'));
                myChart.setOption(option);
            }
        })
    }
    // 周销售额
    option = {
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['OPPO','VIVO','小米','华为','三星']
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : ['周一','周二','周三','周四','周五','周六','周日']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'OPPO',
                type:'line',
                stack: '总量',
                data:[120, 132, 101, 134, 90, 230, 210]
            },
            {
                name:'VIVO',
                type:'line',
                stack: '总量',
                data:[220, 182, 191, 234, 290, 330, 310]
            },
            {
                name:'小米',
                type:'line',
                stack: '总量',
                data:[150, 232, 201, 154, 190, 330, 410]
            },
            {
                name:'华为',
                type:'line',
                stack: '总量',
                data:[320, 332, 301, 334, 390, 330, 320]
            },
            {
                name:'三星',
                type:'line',
                stack: '总量',
                data:[310, 322, 341, 335, 320, 130, 320]
            }
        ]
    };
    var myChart = echarts.init(document.getElementById('sale_order'));
    myChart.setOption(option);
</script>
{include file="public/__footer" /}