body {
    padding: 0px;
    margin: 0px;
    background: url("../../static/images/322137.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.tec-rotate-1 {
    animation: myRotate1 20s infinite linear;
    -webkit-animation: myRotate1 20s infinite linear; /*Safari and Chrome*/
}
.tec-rotate-2 {
    animation: myRotate2 20s infinite linear;
    -webkit-animation: myRotate2 20s infinite linear; /*Safari and Chrome*/
}
@keyframes myRotate1 {
    from {
        transform: rotateX(30deg) rotateY(30deg) rotate(0);
    }
    to {
        transform: rotateX(30deg) rotateY(30deg) rotate(360deg);
    }
}
@keyframes myRotate2 {
    from {
        transform: rotateX(30deg) rotateY(30deg) rotate(360deg);
    }
    to {
        transform: rotateX(30deg) rotateY(30deg) rotate(0);
    }
}
.tec-img {
    position: absolute;
    left: -80px;
    top: -80px;
    width: 160px;
}
.circle-box{
    opacity: .6;
    position: absolute;
    top: 120px;
    right: 510px;
}
.logo{
    position: absolute;
    left: 10px;
    top: 20px;
    color: #ff0000;
}
.mainLogo{
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}
.user-login{
    width: 400px;
    height: 350px;
    position: absolute;
    right: 110px;
    top: 50%;
    margin-top: -190px;
    background: white;
    opacity: 0.7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.user-login:hover{
    box-shadow: 2px 2px 1px #888888;
}
.user-title{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    font-weight: bold;
    border-bottom: 1px solid darkgray;
}
.login-user{
    width: auto;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}
.version{
    font-size: 20px;
    margin-left: 10px;
}
