body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.title {
    text-shadow: 2px 2px 5px #dbdbdb;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0px;
    font-size: 30px;
    font-weight: 700;
    color: #394570;
    height: 52px;
    line-height: 50px;
    letter-spacing: 8px;
    background: #e6e6fa;
}

.data-viewer {
    height: 100%;
    width: 100%;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    position: relative;
}

.header-bar {
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 17px;
    z-index: 1;
}

.header-left {
    width: 217px;
    height: 52px;
    background: url(../img/header-bg-left.png) no-repeat;
    flex: 0 0 auto;
}

.header-left div {
    margin-top: 20px;
    width: auto;
    padding-left: 5px;
    color: #fcf2eb;
    font-family: "Arial Rounded MT Bold";
    font-weight: bold;
}

.header-center {
    height: 52px;
    background: url(../img/header-bg-center.png) repeat-x;
    flex: 1 1 auto;
}

.header-right {
    width: 217px;
    height: 52px;
    background: url(../img/header-bg-right.png) no-repeat;
    flex: 0 0 auto;
}

.footer-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-size: 100% 100%;
    opacity: 0.6;
}

.btns {
    width: 500px;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -250px;
}

.btn {
    height: 100%;
    width: 100px;
    float: left;
    margin-left: 50px;
}

.left-con {
    position: absolute;
    height: 100%;
    width: 305px;
    left: 0;
    background: url(../img/bg.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
}

.right-con {
    position: absolute;
    height: 100%;
    width: 305px;
    right: 0;
    background: url(../img/bg.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
}

.header {
    font-size: 16px;
    color: #1da3ff;
    font-family: "Arial Rounded MT Bold";
    padding-left: 5px;
    margin-top: 5px;
    background: url(../img/block-title.png) no-repeat;
    background-size: 100% 100%;
    background-position-y: 2px;
}

.table thead tr {
    background: #394570;
    color: white;
}

.equip {
    height: 42%;
}

.data-table {
    width: 100%;
    height: 90%;
}

.top-btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 68px;
}

.top-btn-div {
    position: absolute;
    left: 50%;
    margin-left: -225px;
    width: auto;
    /*border: 1px solid red;*/
}

.button {
    border: 3px solid #0a8cff;
    -webkit-border-radius: 5px;
    padding-top: -2px;
    -moz-border-radius: 5px;
    border-radius: 5px;:;
    background: #0f6ea6;
    /*margin-left: 160px;*/
    opacity: .8;
    filter: brightness(100%);
    -webkit-box-shadow: 0 0 10px rgb(239, 234, 241);
}

.load-class {
    background-color: #ffe6d1;
    color: #040102;
    text-align: center;
}

.myTable table {
    margin: 0;
    white-space: nowrap;
    width: 100%;
    table-layout: fixed;
}

.myTable table th, .myTable table td {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #50807d;
    opacity: .8;
}

.layui-table thead tr {
    background: #c1f3e6;
}

/* 表格定高,默认200 */
.myTable .tbodyDiv {
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* 盒子内的表格 */
.box {
    margin-top: 2px;
    width: 100%;
    overflow-x: auto;
}

.box .myThead {
    width: 100%;
}

.mytbody {
    background: #ede9ff;
}

.box .myTable .tbodyDiv {
    /* 桌面版会有大约17px的滚动条宽度，若为移动段减去这段距离即可 */
    width: 100%;
    color: #e6e6fa;
}

/* 滚动条样式*/
.tbodyDiv::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 0px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.tbodyDiv::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

.tbodyDiv::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ededed;
}

.head-info {
    font-size: 16px;
    color: #1da3ff;
    margin-top: 5px;
    margin-left: 5px;
    clear: both;
}

.ware-title {
    /*float: left;*/
    width: 50px;
    text-align: center;
    /*line-height: 50px;*/
    margin-left: 150px;
    padding: 1px;
    border: 2px dotted #2686ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.layui-input, .layui-select, .layui-textarea {
    height: 28px;
    background: #2686ff;
    color: #ffffff;
    border: #2686ff;
}

.layui-form-select dl {
    padding: 0;
}

.head-title {
    float: left;
    color: #1da3ff;
    padding-left: 5px;
    padding-top: 3px;
}
