{include file="public/__head" /}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="{:url('index/index/index')}">
        <i class="fa fa-home"></i>首页
    </a>
</nav>
<div class="content" style="height: auto;margin-bottom: 10px;padding-bottom: 20px;">
    <div class="role_title">
        <div class="icon_role"></div>
        <div class="role_word">
            普通客户
        </div>
    </div>
    <div style="margin-top: 5px;">
        <button type="button" class="btn btn-sm btn-success"
                style="margin-top: 5px;margin-left: 2px;margin-bottom: 5px;"
                data-toggle="modal"
                data-target="#addModal">添加
        </button>
    </div>
    <div style="width: 100%;height: auto; margin-top: 5px;">
        <table class="table table-bordered table-striped table-sm table-hover table-responsive-sm"
               style="text-align: center;">
            <thead>
            <tr>
                <th>序号</th>
                <th>编号</th>
                <th>客户名称</th>
                <th>联系地址</th>
                <th>联系方式</th>
                <th>职业属性</th>
                <th>创建人</th>
                <th>创建时间</th>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {volist name="data" id="vo"}
            <tr>
                <td>{$i + ($pageinit-1)*2}</td>
                <td>{$vo.client_no}</td>
                <td>{$vo.client_name}</td>
                <td>{$vo.address}</td>
                <td>{$vo.phone}</td>
                <td>{if $vo.job == ''}未填{else}{$vo.job}{/if}</td>
                <td>{$vo.manger_c.manger_name}</td>
                <td>{$vo.create_date}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-success edit"
                            style="margin-top: 5px;margin-left: 2px;margin-bottom: 5px;"
                            data-toggle="modal"
                            data-target="#editModal" data-id="{$vo.id}">编辑
                    </button>
                    <button type="button" class="btn btn-danger btn-sm delManger" id="delManger" data-id="{$vo.id}">删除
                    </button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    <div class="page" style="margin-top: 10px;">{if $page}{$page}{else}&nbsp;{/if}</div>
</div>
<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">添加</h6>
                <button type="button" class="close btn btn-sm" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="roleFormAdd">
                    <table style="text-align: right">
                        <tr>
                            <td><label for="manger_no">客户编号:</label></td>
                            <td class="pl-10">
                                <div class="input-group-sm" style="float:left;">
                                    <input type="text" class="form-control" id="manger_no" name="" value="" disabled
                                           style="width: 180px;" placeholder="编号">
                                </div>
                                <div style="float:left;margin-left: 2px;">
                                    <button type="button" class="btn btn-sm btn-success" id="getNo" style="float:left;">
                                        获取
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="name">客户名称:</label></td>
                            <td class="pl-10">
                                <div class="input-group-sm">
                                    <input type="text" class="form-control" id="name" name="" value="" placeholder="客户名称">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="address">联系地址:</label></td>
                            <td class="pl-10">
                                <div class="input-group-sm">
                                    <input type="text" class="form-control" id="address" name="" value=""
                                           placeholder="联系地址">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="phone">联系电话:</label></td>
                            <td class="pl-10">
                                <div class="input-group-sm">
                                    <input type="text" class="form-control" id="phone" name="" value=""
                                           placeholder="联系电话">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="job">客户属性:</label></td>
                            <td class="pl-10">
                                <div class="input-group-sm">
								<select class="form-control" id="job">
									<option value="0">请选择</option>
                                    <option value="学生">学生</option>
                                    <option value="就业人士">就业人士</option>
									<option value="待业人士">待业人士</option>
									<option value="老年人">老年人</option>
                                    <option value="其他">其他</option>
                                </select>
                                  <!--  <input type="text" class="form-control" id="job" name="" value=""
                                           placeholder="工作属性"> -->
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" id="save">保存</button>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">编辑</h6>
                <button type="button" class="close btn btn-sm" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="FormAdd">
                    <table style="text-align: right">
                        <tr>
                            <td><label for="manger_no">客户编号:</label></td>
                            <td class="pl-10">
                                <div class="input-group-sm" style="float:left;">
                                    <input id="id" hidden type="text">
                                    <input type="text" class="form-control" id="no" name="" value="" disabled
                                           style="width: 230px;" placeholder="编号">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="nameS">名称:</label></td>
                            <td class="pl-10">
                                <div class="input-group-sm">
                                    <input type="text" class="form-control" id="nameS" name="" value=""
                                           placeholder="名称">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="addS">联系地址:</label></td>
                            <td class="pl-10">
                                <div class="input-group-sm">
                                    <input type="text" class="form-control" id="addS" name="" value=""
                                           placeholder="联系地址">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="phoneS">联系电话:</label></td>
                            <td class="pl-10">
                                <div class="input-group-sm">
                                    <input type="text" class="form-control" id="phoneS" name="" value=""
                                           placeholder="联系电话">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="job">客户属性:</label></td>
                            <td class="pl-10">
                                <div class="input-group-sm">
                                    <input type="text" class="form-control" id="jobS" name="" value=""
                                           placeholder="工作属性" disabled>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" id="update">保存</button>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.delManger').click(function (e) {
            e.preventDefault();
            var delId =  {
                id: $(this).attr('data-id')
            };
            $.ajax({
                type: "post",
                url: "{:url('index/index/deleteClientInfo')}",
                data: delId,
                dataType: "json",
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 2000,
                        }, function () {
                            location.href = data.url;
                        });
                    } else {
                        layer.open({
                            title: '操作失败',
                            icon: 2,
                            content: data.msg,
                        });
                    }
                }
            })
        });
        $('#update').click(function (e) {
            e.preventDefault();
            testPhone($('#phoneS').val());
            var update = {
                id: $('#id').val(),
                name: $('#nameS').val(),
                phone: $('#phoneS').val(),
                address: $('#addS').val(),
                job: $('#jobS').val()
            };
            $.ajax({
                type: "post",
                url: "{:url('index/index/updateClientInfo')}",
                data: update,
                dataType: "json",
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 2000,
                        }, function () {
                            location.href = data.url;
                        });
                    } else {
                        layer.open({
                            title: '操作失败',
                            icon: 2,
                            content: data.msg,
                        });
                    }
                }
            })
        });
        $('.edit').click(function (e) {
            e.preventDefault();
            var id = {
                id: $(this).attr('data-id')
            };
            $.ajax({
                type: "post",
                url: "{:url('index/index/getClientInfo')}",
                data: id,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data.id) {
                        $('#id').val(data.id);
                        $('#no').val(data.client_no);
                        $('#nameS').val(data.client_name);
                        $('#phoneS').val(data.phone);
                        $('#addS').val(data.address);
                        $('#jobS').val(data.job);
                    } else {
                        msg('错误', '数据获取异常！');
                    }
                }
            })
        });
        $('#save').click(function (e) {
            e.preventDefault();
			if ($('#job').val() == '0') {
				msg("错误","请选择客户属性！");
				return;
			}
            var info = {
                no: $('#manger_no').val(),
                name: $('#name').val(),
                address: $('#address').val(),
                phone: $('#phone').val(),
                job: $('#job').val()
            };
            $.ajax({
                type: "post",
                url: "{:url('index/index/saveClientInfo')}",
                data: info,
                dataType: "json",
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 2000,
                        }, function () {
                            location.href = data.url;
                        });
                    } else {
                        layer.open({
                            title: '操作失败',
                            icon: 2,
                            content: data.msg,
                        });
                    }
                }
            })
        });
        $('#getNo').click(function (e) {
            e.preventDefault();
            var number = '';
            var no = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
            for (var i = 0; i < 6; i++) {
                var index = Math.round(Math.random() * 9);
                number += no[index];
            }
            var mangerNo = "CN" + number;
            $('#manger_no').val(mangerNo);
        });
    })
</script>
{include file="public/__footer" /}